body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

form {
  max-width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

label {
  font-weight: bold;
}

.form-section {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"], button#add-partner-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
  background-color: #346036;
}

.light-theme {
  background-color: #fff;
  color : #333;
}

.dark-theme {
  background-color: #333;
  color : #fff;
}

#theme-switcher-container {
  margin-bottom: 10px;
  text-align: right;
}

#theme-switcher-container > button {
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#theme-switcher-container > button:hover {
  background-color: #666;
}
.delete-partner-container {
  text-align: right;
}

.delete-partner-container button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-partner-container button:hover {
  background-color: #962020;
}

#bottom-page-container {
  display: flex;
  justify-content: space-around;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}